.bgcolor {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

.socials {
  gap: 12px;
}

.callmess {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconBox {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px; /* icon size */
  line-height: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .socials {
    display: none;
  }
}
